<button [type]="type" [class]="classes" [disabled]="disabled || loading">
  <ng-container *ngIf="!loading; else loadingTpl">
    <ng-content></ng-content>
  </ng-container>
  <ng-template #loadingTpl>
    <span class="flex items-center gap-2">
      <svg
        class="animate-spin h-4 w-4"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8v8z"
        ></path>
      </svg>
      Loading...
    </span>
  </ng-template>
</button>
