<h3 class="text-center font-medium">Create new todo</h3>
<form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="flex gap-1 flex-col mt-4">
    <input
      class="rounded-md p-2 px-3 bg-slate-200 placeholder:text-slate-400 outline-none shadow-lg"
      formControlName="title"
      placeholder="Todo Title"
    />
    <small class="text-red-500 px-1" *ngIf="title.invalid && title.touched">
      *
    </small>
  </fieldset>
  <hr />
  <div class="">
    <ul class="flex flex-col gap-4">
      <li
        *ngFor="let newCl of newChecklists; trackBy: trackByChecklistTempId"
        class="flex items-center border rounded-md py-4"
      >
        <app-create-checklist-form
          [checklist]="newCl"
          (checklistFormChange)="onChecklistFormChange(newCl.tempId, $event)"
          class="flex-1"
        ></app-create-checklist-form>
        <button
          (click)="removeChecklistForm(newCl.tempId)"
          class="text-red-500 rounded-full flex flex-col items-center text-center"
          type="button"
        >
          <mat-icon class="text-base">remove</mat-icon>
          <span class="text-xs">remove</span>
        </button>
      </li>
    </ul>
    <button
      type="button"
      (click)="addChecklistForm()"
      class="flex items-center text-sm"
      [class.mt-4]="newChecklists.length > 0"
    >
      <mat-icon class="text-base">add</mat-icon>Checklist
    </button>
  </div>
  <hr />
  <div class="">
    <ul class="flex flex-col gap-4">
      <li
        *ngFor="
          let newStdTask of newStandAloneTasks;
          trackBy: trackByStdTaskTempId
        "
        class="flex items-center border rounded-md py-4"
      >
        <app-create-task-form
          (formChange)="onTaskFormChange(newStdTask.tempId, $event)"
          class="flex-1"
          [dueDate]="newStdTask.dueDate || null"
          [title]="newStdTask.title || ''"
        ></app-create-task-form>
        <button
          (click)="removeStdTaskForm(newStdTask.tempId)"
          class="text-red-500 rounded-full flex flex-col items-center text-center"
          type="button"
        >
          <mat-icon class="text-base">remove</mat-icon>
          <span class="text-xs">remove</span>
        </button>
      </li>
    </ul>
    <button
      type="button"
      (click)="addStdTaskForm()"
      class="flex items-center text-sm"
      [class.mt-4]="newStandAloneTasks.length > 0"
    >
      <mat-icon class="text-base">add</mat-icon>Standalone Task
    </button>
  </div>
  <button
    type="submit"
    class="bg-blue-500 text-white py-2 rounded-md"
    [disabled]="form.invalid"
  >
    Create Todo
  </button>
</form>
