<header class="mb-4">
  <h1 class="text-lg font-semibold">{{ todo?.title }}</h1>
  <p class="text-xs text-slate-400">
    Created at <span>{{ todo?.createdAt | formatDate }}</span
    >, by
    <span class="font-medium">{{
      todo?.user?.username | formatCreatedBy : user?.username
    }}</span>
  </p>
</header>
<div class="px-2">
  <ul class="flex flex-col gap-2">
    <li
      *ngFor="let checkList of todo?.checklists; trackBy: trackByChecklistId"
      class="border rounded-md flex p-2"
    >
      <app-checklist [checkList]="checkList"></app-checklist>
    </li>
  </ul>
</div>
