@use '@angular/material' as mat;
@use 'sass:map';
@import './app/themes/custom-colors.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @include mat.datepicker-overrides((
      calendar-date-selected-state-text-color: orange,
      calendar-date-selected-state-background-color: red,
    ));
  }

html {
    @include mat.theme((color: (theme-type: light,
                primary: $primary-palette,
                tertiary: $tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}